body {
  font-family: "Poppins";
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  background-image: url(background.png);
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(20, 38, 59, 0.3);
  padding: 20px;
  background-color: rgb(26, 26, 72);
  opacity: 0.65;
}
h1 {
  text-align: center;
  color: #ffffff;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}
input[type="number"] {
  width: 50%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 40%;
  margin-top: 20px;
}
button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

select {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
}

select:focus {
  border-color: #4caf50; /* Warna hijau saat fokus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.result {
  margin-top: 20px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}
